
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(natale.jpg) ;
    -moz-background-size: cover;
        -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    
}

h1{
    padding-top: 150px;
    padding-left: 40px;
    color: white;
    font-family: 'Courgette', cursive;
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    display: inline-block;
    position: absolute;
}
p{
    position: absolute;
    padding-top: 250px;
    padding-left: 40px ;
    color: white;
    margin-right: 500px;
}
#logo{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #dac204;
    
}
marquee{
    position: absolute;
    padding-top: 300px;
    
}
.container{
    text-align: center;
    
    background: fixed;
    font-weight: bold;
    line-height: 250%;
    color: #dac204;
    text-shadow: -1px 0 , 0 1px , 1px 0 #b42525, 0 -1px  #b42525;
    
}
li {
    display: inline-block;
    font-size: 15px;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
li span {
    display: block;
    font-size: 4.5rem;
  }