
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url(natale.jpg);
    width: 100%;
    height: 100%;
    
    
    
}

h1{
    padding-top: 150px;
    color: white;
    font-family: 'Courgette', cursive;
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    
    
}
#logo{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #7bb6de;
    color: white;
}
img{
    position: absolute;
    right: 0;
    bottom: 80px;
    width: 600px ;
}
.container{
    text-align: center;
    color: #c69c12;
    background: fixed;
    font-weight: bold;
    line-height: 250%;
    color: #6e0c00;
    text-shadow: -1px 0 , 0 1px , 1px 0  white, 0 -1px  white;
    
}
li {
    display: inline-block;
    font-size: 15px;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
li span {
    display: block;
    font-size: 4.5rem;
  }